@import url("reset.css");

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	background: #f5f2f2;
}

* {
    box-sizing: border-box;
}

.wrapper {
	min-width: 800px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	position:fixed;
	width: 100%;
	min-width: 800px;
	height: 100px;
	background: #f5f2f2;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 100px 0 50px;
}

.startTest{
	position: absolute;
	top:70%;
	left: 50%;
	margin-left: -100px;
	width: 200px; 
	height: 50px;
}

.disFilm{
	position: absolute;
	top:70%;
	left: 50%;
	margin-left: -400px;
	width: 200px; 
	height: 50px;
}

.showNext{
	position: absolute;
	top:70%;
	left: 50%;
	margin-left: 200px;
	width: 200px; 
	height: 50px;
}

.startTestHeroes{
	position: absolute;
	top:90%;
	left: 50%;
	margin-left: -100px;
	width: 200px; 
	height: 50px;
}

.randomActors{
	position: absolute;
	top:90%;
	left: 30%;
	width: 200px; 
	height: 50px;
}

.actor{
	width: 200px;
	height: 300px;
}

.doneTest{
	position: absolute;
	top:90%;
	left: 60%;
	width: 200px; 
	height: 50px;
}


.sliders{
	position: absolute;
	top:15%;
	left: 50%;
	margin-left: -250px;
	display: flex;
	flex-direction: row;
}

.slidersYears{
	position: absolute;
	top:70%;
	left: 50%;
	margin-left: -300px;
}

.imageAges{
	position: absolute;
	top:11%;
	left: 50%;
	margin-left: -300px;
}

.infoYears{
	position: relative;
	left:245px;
	bottom:15px;
	font-size:25px;
}

.ages{
	position: absolute;
	width: 1200px;
	top:15%;
	left: 50%;
	margin-left: -600px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.ages .pick img{
	width: 250px;
	height: 250px;
}

.pick .like {
	width: 50px;
	height: 50px;
	border: none;
	bottom: -18px;
}

.title{
	position: absolute;
	top:5%;
	left: 50%;
	margin-left: -300px;
	text-align: center;
	font-size: 40px; 
}

.agesTitle{
	position: absolute;
	top:5%;
	left: 50%;
	margin-left: -425px;
	text-align: center;
	font-size: 40px; 
}

.actorsTitle{
	position: absolute;
	top:5%;
	left: 50%;
	margin-left: -154px;
	text-align: center;
	font-size: 40px; 
}

.heroes{
	position: absolute;
	width: 1200px;
	top:22%;
	left: 50%;
	margin-left: -600px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.test{
	width: 100%;
	height: 800px;
	background: #61c3ff;
	position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -50px auto 0;
	min-width: 800px;
	height: 50px;
	background: #BFF08E;
	position: relative;
}

.logoImg{
	margin: 0px;
    padding: 0;
    position: relative;
    width:100px;
    height:100px;
}

.logoImg img{	
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}

.row {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items:center;
}

.menu{
	width: 100%;
}

.menu ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.menu ul li{
	padding: 25px;
}

.menu ul a:hover{
	color: #e76543;
	
}

.selected{
	color: #e76543 !important;
}

.menu ul a{
	color: black;
	text-decoration: none;
	transition: 0.5s;
}



.menu ul a{
	font-size: 20px;
}

.pick{
	display: inline-block;
	width:200px;
}

.pick img{
	position: relative;
	border: 3px solid black;
}

.heroinfo{
	position: relative;
	top:12px;
	text-align:center;
	width: 256px;
	font-size: 14px;
}

.actorinfo{
	text-align:center;
	width: 200px;
	font-size: 14px;
}
.bestActorFilms{
	width: 200px;
	font-size: 12px;
}

.titleactor{
	text-align:center;
	width: 200px;
	font-size: 14px;
	font-weight: bold;
}

.john{
	position: relative;
	left:72px;
}

.jack{
	position: relative;
	left:15px;
}

.cooper{
	position: relative;
	left:50px;
}

.ventura{
	position: relative;
	left:58px;
}

.nonePick{
	position: relative;
	left:80px;
}

.familyPick{
	position: relative;
	left:64px;
}

.girlsPick, .mensPick{
	position: relative;
	left:71px;
}

.likeDislike{
	
}
.userPicks{
	position:relative;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 25px;
}
.option{
	position: relative;
	top: 8px;
	bottom: 8px;
	text-align:center;
	width: 256px;
	font-size: 18px;
}

.optionActors{
	position: relative;
	bottom: 8px;
	text-align:center;
	width: 200px;
	font-size: 17px;
	font-weight: bold;
}

.genre{
	display: inline-block;
	width:100px;
	position: relative;
}	

.genre p{
	width:100px;
	display: inline-block;
  	border: 1px solid red;
    padding: 1px;
  	text-align: center;
}

.genre div{
	margin-left:auto; 
	margin-right:auto;
	height:200px;
}

input.genrePick, textarea { 
	background: none; 
	border:0; 
	color:#f6931f;
	font-weight:bold; 
	width: 10px;

}

input.yearsPick, textarea { 
	background: none; 
	border:0; 
	color:#f6931f;
	font-weight:bold; 
	font-size: inherit;

}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  text-align: center;
  cursor: pointer;
}
.radio + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.7);
}