<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Vertical slider</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="sources/css/style.css" rel="stylesheet">
  <!--Подключение Jquery + Angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--Подключение Js Файлов-->
  <script src="sources/js/films_info.js"></script>
  <script src="sources/js/films.js"></script>  
  <script src="sources/js/main.js"></script>
</head>
<body ng-controller="firstCtrl">
  <div class="test">
    <div class="actorsTitle">
      Оцените актера.
    </div>
    <div class="heroes">
      <div class="pick">
        <p class="optionActors">{{inBrowserActors[0].name}}</p>
        <img id="firstActor" class="actor">
        <div class="userPicks">
          <div class="likeDislike">
            <input name="firstActorlike" type="radio" class="radio" id="likeOne" value="like"/>
            <label for="likeOne" class="option"><img class="like" src="sources/img/like.png" alt="Лайк"></label>
          </div>
          <div class="likeDislike">
            <input name="firstActorlike" type="radio" class="radio" id="dislikeOne" value="dislike"/>
            <label for="dislikeOne" class="option"><img class="like" src="sources/img/dislike.png" alt="Дизлайк"></label>
          </div>
        </div>
        <p class="titleactor">Жанры:</p>
        <p class="actorinfo">{{inBrowserActors[0].genres}}</p> 
        <p class="titleactor">Лучшие фильмы:</p>
        <p class="bestActorFilms">
          1.{{inBrowserActors[0].bestFilms[0]}}<br>
          2.{{inBrowserActors[0].bestFilms[1]}}<br>
          3.{{inBrowserActors[0].bestFilms[2]}}<br>
        </p>
        
      </div>
      <div class="pick">
        <p class="optionActors">{{inBrowserActors[1].name}}</p>
        <img id="secondActor" class="actor">
        <div class="userPicks">
          <div class="likeDislike">
            <input name="secondActorlike" type="radio" class="radio" id="likeTwo" value="like"/>
            <label for="likeTwo" class="option"><img class="like" src="sources/img/like.png" alt="Лайк"></label>
          </div>
          <div class="likeDislike">
            <input name="secondActorlike" type="radio" class="radio" id="dislikeTwo" value="dislike"/>
            <label for="dislikeTwo" class="option"><img class="like" src="sources/img/dislike.png" alt="Дизлайк"></label>
          </div>
        </div>
        <p class="titleactor">Жанры:</p>
        <p class="actorinfo">{{inBrowserActors[1].genres}}</p> 
        <p class="titleactor">Лучшие фильмы:</p>
        <p class="bestActorFilms">
          1.{{inBrowserActors[1].bestFilms[0]}}<br>
          2.{{inBrowserActors[1].bestFilms[1]}}<br>
          3.{{inBrowserActors[1].bestFilms[2]}}<br>
        </p>
        
      </div>
      <div class="pick">
        <p class="optionActors">{{inBrowserActors[2].name}}</p>
        <img id="thirdActor" class="actor">
        <div class="userPicks">
          <div class="likeDislike">
            <input name="thirdActorlike" type="radio" class="radio" id="likeThree" value="like"/>
            <label for="likeThree" class="option"><img class="like" src="sources/img/like.png" alt="Лайк"></label>
          </div>
          <div class="likeDislike">
            <input name="thirdActorlike" type="radio" class="radio" id="dislikeThree" value="dislike"/>
            <label for="dislikeThree" class="option"><img class="like" src="sources/img/dislike.png" alt="Дизлайк"></label>
          </div>
        </div>
        <p class="titleactor">Жанры:</p>
        <p class="actorinfo">{{inBrowserActors[2].genres}}</p> 
        <p class="titleactor">Лучшие фильмы:</p>
        <p class="bestActorFilms">
          1.{{inBrowserActors[2].bestFilms[0]}}<br>
          2.{{inBrowserActors[2].bestFilms[1]}}<br>
          3.{{inBrowserActors[2].bestFilms[2]}}<br>
        </p>      
      </div>
      <div class="pick">
        <p class="optionActors">{{inBrowserActors[3].name}}</p>
        <img id="fourthActor" class="actor">
        <div class="userPicks">
          <div class="likeDislike">
            <input name="fourthActorlike" type="radio" class="radio" id="likeFour" value="like"/>
            <label for="likeFour" class="option"><img class="like" src="sources/img/like.png" alt="Лайк"></label>
          </div>
          <div class="likeDislike">
            <input name="fourthActorlike" type="radio" class="radio" id="dislikeFour" value="dislike"/>
            <label for="dislikeFour" class="option"><img class="like" src="sources/img/dislike.png" alt="Дизлайк"></label>
          </div>
        </div>
        <p class="titleactor">Жанры:</p>
        <p class="actorinfo">{{inBrowserActors[3].genres}}</p> 
        <p class="titleactor">Лучшие фильмы:</p>
        <p class="bestActorFilms">
          1.{{inBrowserActors[3].bestFilms[0]}}<br>
          2.{{inBrowserActors[3].bestFilms[1]}}<br>
          3.{{inBrowserActors[3].bestFilms[2]}}<br>
        </p>
      </div>
    </div>
  	<button class="randomActors" ng-click="generateRandomActors()">Генерация Актеров</button>
    <button class="doneTest" ng-click="likeDislikeActors()">Готово</button>
    </div>
  </div>
</body>
</html>