<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Vertical slider</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="sources/css/style.css" rel="stylesheet">
  <!--Подключение Jquery + Angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--Подключение Js Файлов-->
  <script src="sources/js/films_info.js"></script>
  <script src="sources/js/films.js"></script>  
  <script src="sources/js/main.js"></script>
</head>

<body ng-controller="firstCtrl">

		<div class="test">
			<h1>{{currentFilm.title}}</h1>
			<h2>{{currentFilm.year}}</h2>
			<h3>{{currentFilm.rating}}</h3>
			<h4>{{currentFilm.info}}</h4>
			<button class="startTest" ng-click="showFilm()">Делай, ТЕСТ!</button>
			<button class="disFilm" ng-click="disFilm()">Дизлайк</button>
			<button class="showNext" ng-click="showNext()">Next</button>
		</div>



</body>
</html>
